appdirs==1.4.4
appnope
argon2-cffi==20.1.0
async-generator==1.10
atomicwrites==1.4.0
attrs==20.3.0
backcall
backports.functools-lru-cache
bleach==3.3.0
brotlipy==0.7.0
certifi==2021.5.30
cffi
chardet
cobra==0.21.0
colorama==0.4.4
colorlover==0.3.0
commonmark==0.9.1
cryptography
cycler==0.10.0
decorator
defusedxml==0.7.1
depinfo==1.7.0
diskcache==5.2.1
entrypoints==0.3
Escher==1.7.3
future==0.18.2
goatools
h11==0.12.0
httpcore==0.12.3
httpx==0.17.1
idna==3.1
importlib-resources==5.1.2
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi
Jinja2==2.11.3
jsonschema==3.2.0
jupyter-client
jupyter-core
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver
MarkupSafe==1.1.1
matplotlib
mistune==0.8.4
more-itertools==8.7.0
mpmath==1.2.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.3.0
numpy
olefile
optlang==1.4.4
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parso
patsy==0.5.1
pexpect
pickleshare
Pillow
plotly
pluggy==0.13.1
prometheus-client==0.10.1
prompt-toolkit
ptyprocess
py==1.10.0
pycparser
pydantic==1.8.1
pydot
Pygments
pygraphviz
pyOpenSSL
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks
pytest==4.6.11
python-dateutil==2.8.1
python-libsbml==5.19.0
pytz
pyzmq
requests
retrying==1.3.3
rfc3986==1.4.0
rich==6.2.0
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
scipy
seaborn
Send2Trash==1.5.0
six
sniffio==1.2.0
statsmodels
swiglpk==5.0.3
sympy==1.8
terminado==0.9.4
testpath==0.4.4
tornado
tqdm
traitlets
typing-extensions==3.7.4.3
urllib3
wcwidth
webencodings==0.5.1
wget==3.2
widgetsnbextension==3.5.1
XlsxWriter